// USER VARIABLES SECTION

$accent: #000 // Accent Color
$dark: #222
$border: #eee
$white: #fff
$gray: #aeaeae
$trsp: transparent
$fontsize: 16px // Body Font Size
$textcolor: #777 // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$roboto: Roboto, sans-serif // Roboto Font Family

// Bootstrap compatible gutter variable => $gutter

$grid-gutter-width: 20px
$gutter: $grid-gutter-width

$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1310px)
$grid-breakpoints: (xxs: 0, xs: 375px, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1390px)

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2')


@include font('Roboto', normal, 300, '../fonts/roboto-light.woff2')
@include font('Roboto', normal, 400, '../fonts/roboto-regular.woff2')
@include font('Roboto', normal, 500, '../fonts/roboto-medium.woff2')
@include font('Roboto', normal, 700, '../fonts/roboto-bold.woff2')
@include font('Roboto', normal, 800, '../fonts/roboto-black.woff2')


// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Bootstrap Grid
@import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Bootstrap Utilites
@import 'node_modules/bootstrap/scss/_modal.scss' // Bootstrap Modal

@import '../../node_modules/swiper/css/swiper.min.css' // Swiper JS Slider
@import '../libs/animate.css' // Animate CSS