// USER VARIABLES SECTION

$accent: #000 // Accent Color
$dark: #222
$border: #eee
$white: #fff
$gray: #aeaeae
$trsp: transparent
$fontsize: 16px // Body Font Size
$textcolor: #777 // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$roboto: Roboto, sans-serif // Roboto Font Family

// Bootstrap compatible gutter variable => $gutter

$grid-gutter-width: 20px
$gutter: $grid-gutter-width

$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1310px)
$grid-breakpoints: (xss: 0, xs: 375px, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1390px)

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2')


@include font('Roboto', normal, 300, '../fonts/roboto-light.woff2')
@include font('Roboto', normal, 400, '../fonts/roboto-regular.woff2')
@include font('Roboto', normal, 500, '../fonts/roboto-medium.woff2')
@include font('Roboto', normal, 700, '../fonts/roboto-bold.woff2')
@include font('Roboto', normal, 800, '../fonts/roboto-black.woff2')


// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
@import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites

@import '../../node_modules/swiper/css/swiper.min.css' // Swiper JS Slider
@import '../libs/animate.css' // Animate CSS


// GENERAL DOCUMENT STYLES

::placeholder
	color: $textcolor
	font-weight: 300

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	position: relative
	overflow-x: hidden
	min-width: 320px
	font-family: 'Roboto', sans-serif
	font-size: $fontsize
	color: $textcolor
	line-height: 1.65
	+media-breakpoint-down(xs)
		font-size: 15px
::-webkit-scrollbar
	width: 8px
	height: 8px
::-webkit-scrollbar-thumb
	cursor: pointer
	background: $gray
	&:hover
		background: $dark

h2
	font-size: 42px
	+media-breakpoint-down(xl)
		font-size: 38px
	+media-breakpoint-down(md)
		font-size: 32px
	+media-breakpoint-down(sm)
		font-size: 28px
	+media-breakpoint-down(xs)
		font-size: 26px

a
	color: #222
	transition: .3s ease
	&:hover
		color: #000
		text-decoration: none
a[href^="tel:"],
a[href^="mailto:"]
	position: relative
	&:after
		content: ''
		position: absolute
		top: 100%
		left: 0
		width: 100%
		height: 1px
		background: #000
		opacity: 0
		transform: scaleX(0)
		transition: .45s cubic-bezier(0.5, 1, 0.89, 1)
	&:hover
		text-decoration: none
		&:after
			opacity: 1
			transform: scaleX(1)

ul
	margin: 0
	padding-left: 0
	list-style: none

p
	margin-bottom: 0
	font-weight: 300
	&:not(:first-child)
		margin-top: 10px

img
	user-drag: none
	user-select: none

.container
	padding-left: 20px
	padding-right: 20px
.container-fluid
	max-width: 1720px
	padding-left: 20px
	padding-right: 20px

.text-center
	text-align: center
.margin-lr-auto
	margin-left: auto
	margin-right: auto
.max-w-100
	max-width: 100%!important

// SVG Icon
.icon
	display: inline-block
	width: 1em
	height: 1em
	stroke-width: 0
	stroke: currentColor
	fill: currentColor

// Buttons
button
.btn
	position: relative
	display: inline-block
	padding-left: 35px
	padding-right: 70px
	border: 1px solid #dadada
	background: $trsp
	color: $dark
	font-size: 12px
	line-height: 54px
	letter-spacing: 1px
	text-transform: uppercase
	outline: none!important
	transition: .45s ease
	&:after
		content: ''
		position: absolute
		top: 50%
		right: 35px
		display: inline-block
		width: 15px
		height: 1px
		background: $dark
		transition: .45s ease
		// transform: translateY(-50%)
	&:hover
		background: $accent
		color: $white
		text-decoration: none
		&:after
			width: 25px
			background: $white
	+media-breakpoint-down(xs)
		padding-left: 25px
		padding-right: 55px
		font-size: 11px
		line-height: 45px
		&:after
			right: 25px

// Forms
.form
	&-control
		width: 100%
		margin-bottom: 20px
		padding: 22px 30px
		border-radius: 0
		border: 0
		border-bottom: 1px solid $border
		line-height: 1
		+media-breakpoint-down(xs)
			padding: 15px 25px
	&-descr
		margin-top: 16px
		margin-bottom: 0
		font-weight: 300
		+media-breakpoint-down(md)
			font-size: 15px
	&-btn
		margin-top: 16px



// Table
.responsive-table
	display: block
	width: 100%
	overflow-x: auto
	-webkit-overflow-scrolling: touch

.table
	display: flex
	.swiper-button
		&-prev
			left: 0
		&-next
			right: 1px
		&-prev,
		&-next
			width: 20px
			height: 30px
			background: $dark
			transition: opacity .6s ease
			outline: none
			&:after
				color: $white
				font-size: 12px
			+media-breakpoint-down(sm)
				margin-top: -15px
			+media-breakpoint-down(xs)
				margin-top: -11px
		&-disabled
			visibility: hidden
			opacity: 0
	.include
		display: block
		width: 16px
		height: 16px
		background: url('../images/dest/check.svg') no-repeat center/16px
		opacity: 0.7
	.not-include
		display: block
		width: 16px
		height: 16px
		background: url('../images/dest/times.svg') no-repeat center/13px
		opacity: 0.15
	&__label
		flex-basis: 465px
		max-width: 465px
		+media-breakpoint-down(lg)
			flex-basis: 400px
			max-width: 400px
		+media-breakpoint-down(md)
			flex-basis: 280px
			max-width: 280px
		+media-breakpoint-down(sm)
			flex-basis: 250px
			max-width: 250px
		+media-breakpoint-down(xs)
			flex-basis: 220px
			max-width: 220px
		+media-breakpoint-down(xss)
			flex-basis: 180px
			max-width: 180px
		&--head
			height: 96px
			+media-breakpoint-down(sm)
				height: 71px
		&--th
			max-width: 100%
			overflow: hidden
			height: 43px
			padding-left: 20px
			padding-right: 20px
			border: 1px solid $border
			border-right: 0
			border-bottom: 0
			box-sizing: border-box
			color: $textcolor
			font-size: 15px
			font-weight: 300
			line-height: 42px
			white-space: nowrap
			text-overflow: ellipsis
			&:nth-child(odd)
				background: #f9f9f9
			&:last-child
				height: 44px
				border-bottom: 1px solid $border
	&__columns
		flex-grow: 1
		border: 1px solid $border
		border-right: 0
		box-sizing: border-box
	&__column
		&--head
			display: flex
			align-items: center
			justify-content: center
			height: 95px
			padding-left: 5px
			padding-right: 5px
			border: 1px solid $border
			border-top: 0
			border-left: 0
			border-bottom: 0
			box-sizing: border-box
			color: $accent
			font-size: 18px
			font-weight: 500
			text-align: center
			+media-breakpoint-down(xl)
				font-size: 16px
			+media-breakpoint-down(sm)
				font-size: 15px
			+media-breakpoint-down(sm)
				height: 70px
		&--td
			display: flex
			align-items: center
			justify-content: center
			height: 43px
			border: 1px solid $border
			border-left: 0
			border-bottom: 0
			box-sizing: border-box
			color: $textcolor
			font-size: 15px
			font-weight: 300
			line-height: 42px
			&:nth-child(odd)
				background: #f9f9f9
		&--btn
			width: 100%
			.btn
				width: 100%
				padding-left: 0
				padding-right: 0
				border: 1px solid $border
				border-left: 0
				border-bottom: 0
				box-sizing: border-box
				font-size: 14px
				font-weight: 500
				line-height: 70px
				&:hover
					border-color: $accent
				&:after
					display: none
				+media-breakpoint-down(xl)
					font-size: 12px
				+media-breakpoint-down(xs)
					line-height: 60px



// Section
.section
	margin: 160px 0
	+media-breakpoint-down(md)
		margin: 130px 0
	+media-breakpoint-down(sm)
		margin: 100px 0
	&-wrap
		margin-top: 50px
	&-suptitle
		margin-bottom: 2px
		color: $gray
		font-size: 18px
		font-weight: 300
		text-transform: uppercase
	&-title
		margin-bottom: 0
		color: #000
		font-size: 42px
		font-weight: 700
		line-height: 1.16
		text-transform: uppercase
		+media-breakpoint-down(xl)
			font-size: 38px
		+media-breakpoint-down(md)
			font-size: 32px
		+media-breakpoint-down(sm)
			font-size: 28px
		+media-breakpoint-down(xs)
			font-size: 26px
	&-descr
		max-width: 600px
		margin-top: 12px
		margin-bottom: 0
		+media-breakpoint-down(md)
			max-width: 100%
	&-btn
		+media-breakpoint-down(sm)
			margin-top: 20px



// PAGES Customize
.main
	&-head
		position: relative
		z-index: 0
		display: flex
		align-items: center
		min-height: 250px
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		+media-breakpoint-down(lg)
			min-height: 200px
		+media-breakpoint-down(sm)
			min-height: 160px
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: -1
			background: rgba($dark, .75)
		&__title
			padding-top: 30px
			padding-bottom: 30px
			color: $white
			font-size: 40px
			font-weight: 700
			text-align: center
			text-transform: uppercase
			+media-breakpoint-down(md)
				font-size: 36px
			+media-breakpoint-down(sm)
				font-size: 32px
				line-height: 1.5
			+media-breakpoint-down(xs)
				font-size: 28px
				line-height: 1.35

	&-section
		margin-top: 100px
		+media-breakpoint-down(md)
			margin: 80px 0
		+media-breakpoint-down(sm)
			margin: 60px 0