@import config

// MOBILE MENU
.m-menu
	position: fixed
	visibility: hidden
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 999
	max-width: 400px
	width: 100%
	transform: translateX(-100%)
	transition: .5s cubic-bezier(0.5, 1, 0.89, 1)
	+media-breakpoint-down(xs)
		transform: translateX(100%)
		left: auto
		right: 0
	&--opened
		visibility: visible
		transform: translateX(0)
		.m-menu__languages
			.lang__item
				animation: fadeInDown 1s both
		.m-menu__nav
			.nav
				li
					animation: fadeInLeft 1s both
		.m-menu__footer
			animation: fadeInUp 2s both 1s
	&__wrap
		position: relative
		display: flex
		flex-direction: column
		height: 100vh
		padding: 100px 50px 50px
		background: $dark
		+media-breakpoint-down(xs)
			padding: 26px 40px 40px
	&__close
		position: absolute
		top: 30px
		left: 46px
		width: 36px
		height: 36px
		padding: 0
		border-radius: 0
		border: 0
		background: $trsp
		+media-breakpoint-down(xs)
			top: 20px
			left: auto
			right: 20px
		span
			position: absolute
			display: block
			width: 40px
			height: 2px
			background: $white
			&:nth-child(1)
				transform: rotate(45deg)
			&:nth-child(2)
				transform: rotate(-45deg)
			+media-breakpoint-down(xs)
				width: 34px
	&__languages
		margin-bottom: 40px
		+media-breakpoint-down(xs)
			margin-bottom: 30px
		.lang
			@for $i from 1 through 10
				.lang__item:nth-child(#{$i}),
					animation-delay: $i*0.2s
			&__item
				display: inline-block
				color: $white
				font-size: 15px
				line-height: 1
				&:not(:first-child)
					margin-left: 10px
				a
					position: relative
					color: rgba($white, 0.4)
					font-size: 15px
					&:before
						content: ''
						position: absolute
						top: 100%
						left: 0
						width: 100%
						height: 1px
						background: $white
						opacity: 0
						transform: scaleX(0)
						transition: .3s ease
					&:hover
						color: $white
						text-decoration: none
						&:before
							transform: scaleX(1)
							opacity: 1
	&__nav
		overflow-x: hidden
		overflow-y: auto
		.nav
			display: flex
			flex-direction: column
			@for $i from 1 through 10
				li:nth-child(#{$i}),
					animation-delay: $i*0.2s
			li
				&:not(:first-child)
					margin-top: 16px
					+media-breakpoint-down(xs)
						margin-top: 6px
				a
					color: rgba($white, 0.4)
					font-size: 26px
					font-weight: 500
					text-transform: uppercase
					&:hover
						color: $white
					+media-breakpoint-down(xs)
						font-size: 32px
	&__footer
		margin-top: auto
		padding-top: 40px
		+media-breakpoint-down(xs)
			padding-top: 30px
		.social
			display: flex
			a
				position: relative
				color: $white
				line-height: 1
				&:not(:first-child)
					margin-left: 20px
				&:after
					content: ''
					position: absolute
					top: 100%
					left: 0
					width: 100%
					height: 1px
					margin-top: 2px
					background: $white
					opacity: 0
					transform: scaleX(0)
					transition: .3s ease
				&:hover
					&:after
						opacity: 1
						transform: scaleX(1)
		.copy
			margin-top: 40px
			+media-breakpoint-down(xs)
				margin-top: 20px
			p
				margin-bottom: 0
				line-height: 1.25



// MAIN SITE HEADER
.main-header
	background: $white
	&__wrap
		height: 100px
		+media-breakpoint-down(sm)
			height: 70px
	&__left
		display: flex
		align-items: center
	.logo
		display: inline-block
		margin-right: 15px
		img
			display: block
			height: 20px
	.lang
		padding-left: 15px
		border-left: 1px solid $border
		&__item
			display: inline-block
			color: #000
			font-size: 15px
			line-height: 1
			&:not(:first-child)
				margin-left: 6px
			a
				position: relative
				color: $gray
				font-size: 15px
				&:before
					content: ''
					position: absolute
					top: 100%
					left: 0
					width: 100%
					height: 1px
					background: #000
					opacity: 0
					transform: scaleX(0)
					transition: .3s ease
				&:hover
					color: #000
					text-decoration: none
					&:before
						transform: scaleX(1)
						opacity: 1
	.humb
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: flex-start
		width: 40px
		height: 24px
		padding: 0
		border-radius: 0
		border: 0
		background: $trsp
		span
			display: block
			width: 40px
			height: 2px
			background: $dark
		+media-breakpoint-up(xl)
			display: none
	.menu
		a
			position: relative
			margin: 0 15px
			font-size: 14px
			text-transform: uppercase
			&:after
				content: ''
				position: absolute
				top: 100%
				left: 0
				width: 100%
				height: 1px
				background: #000
				opacity: 0
				transform: scaleX(0)
				transition: .3s ease
			&:hover
				text-decoration: none
				&:after
					opacity: 1
					transform: scaleX(1)
		+media-breakpoint-down(xl)
			a
				margin: 0 10px
		+media-breakpoint-down(lg)
			display: none
	.social
		display: flex
		justify-content: flex-end
		a
			position: relative
			line-height: 1
			&:not(:first-child)
				margin-left: 20px
				+media-breakpoint-down(md)
					margin-left: 10px
			&:after
				content: ''
				position: absolute
				top: 100%
				left: 0
				width: 100%
				height: 1px
				margin-top: 2px
				background: #000
				opacity: 0
				transform: scaleX(0)
				transition: .3s ease
			&:hover
				&:after
					opacity: 1
					transform: scaleX(1)



// HOME PAGE: Slider (heroes)
.heroes
	overflow: hidden
	&__slider
		position: relative
		height: calc(100vh - 100px)
		min-height: 500px
		max-height: 1000px
		background: $dark
		.swiper-slide-active
			.heroes__title
				animation: fadeInUp 1.5s 0.25s both
			.heroes__descr
				animation: fadeInUp 1.5s 0.5s both
			.heroes__btn
				animation: fadeInUp 1.5s 1s both
			.heroes__photo
				transform: scale(1.15)
		.swiper-pagination
			display: flex
			align-items: center
			justify-content: center
			margin-bottom: 60px
			+media-breakpoint-down(xs)
				margin-bottom: 30px
			&-bullet
				border-radius: 0
				background: $white
				&-active
					width: 14px
					height: 14px
					background: $trsp
					border: 2px solid $white
	&__slide
		position: relative
		overflow: hidden
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 1
			background: rgba(#222, 0.85)
	&__photo
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-repeat: no-repeat
		background-size: cover
		background-position: center center
		transform: scale(1)
		transition: transform 6.9s cubic-bezier(0.37, 0, 0.63, 1)
	&__content
		position: relative
		top: 50%
		z-index: 1
		text-align: center
		transform: translateY(-50%)
	&__title
		overflow: hidden
		max-width: 1140px
		margin: 0 auto 15px
		color: $white
		font-size: 72px
		font-weight: 800
		line-height: 1.25
		text-transform: uppercase
		+media-breakpoint-down(xl)
			font-size: 64px
		+media-breakpoint-down(md)
			font-size: 52px
		+media-breakpoint-down(sm)
			font-size: 46px
		+media-breakpoint-down(xs)
			max-width: 360px
			font-size: 32px
			white-space: pre-wrap
			word-wrap: break-word
		+media-breakpoint-down(xss)
			max-width: 300px
	&__descr
		max-width: 775px
		margin: 0 auto
		color: #eee
		font-size: 18px
		font-weight: 300
		+media-breakpoint-down(xs)
			font-size: 16px
	&__btn
		margin-top: 50px
		border-color: $white
		color: $white
		+media-breakpoint-down(xs)
			margin-top: 36px
		&:after
			background: $white
		&:hover
			background: $white
			color: $dark
			&:after
				background: $dark



// HOME PAGE: About us
.h-about
	&__title
		max-width: 475px
		margin-bottom: 0
		color: #000
		font-size: 42px
		font-weight: 700
		line-height: 1.16
		text-transform: uppercase
		+media-breakpoint-down(xl)
			font-size: 38px
		+media-breakpoint-down(md)
			font-size: 32px
		+media-breakpoint-down(sm)
			font-size: 28px
		+media-breakpoint-down(xs)
			font-size: 26px
	&__descr
		margin-top: 20px
	&__btn
		margin-top: 40px
		+media-breakpoint-down(md)
			margin-top: 20px
	&__photo
		position: relative
		width: 100%
		max-width: 550px
		height: 350px
		margin-top: 40px
		margin-left: auto
		+media-breakpoint-down(xl)
			max-width: 450px
		+media-breakpoint-down(lg)
			max-width: 380px
		&:before
			content: ''
			position: absolute
			top: 70px
			right: 70px
			z-index: -1
			display: block
			width: 100%
			height: 100%
			background: $trsp
			border: 30px solid $border
		img
			display: block
			width: 100%
			height: 100%
			object-fit: cover



// PROJECT item customize
.project
	position: relative
	overflow: hidden
	margin: 10px 0
	&:hover
		.project__photo 
			&:after
				opacity: 0.8
			img
				transform: scale(1.1)
	&__wrap
		position: absolute
		left: 10px
		right: 10px
		bottom: 0
		z-index: 1
		padding: 40px 50px
		+media-breakpoint-down(xs)
			padding: 30px
	&__meta
		display: flex
		flex-direction: column
		justify-content: flex-end
		height: 104px
		margin-bottom: 0
		.title
			display: block
			margin-bottom: 6px
			color: $white
			font-size: 24px
			font-weight: 700
			line-height: 1.35
			+media-breakpoint-down(xs)
				font-size: 22px
				// line-height: 1.25
		.location
			display: block
			color: $white
			font-size: 16px
			font-weight: 400
	&__link
		position: absolute
		top: 0
		left: 10px
		right: 10px
		bottom: 0
		z-index: 1
		opacity: 0
	&__photo
		overflow: hidden
		position: relative
		z-index: 0
		width: 100%
		height: 420px
		&:after
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: 0
			z-index: 0
			display: block
			width: 100%
			height: 70%
			background: linear-gradient(180deg, rgba(#000, 0) 0%, #000 90%)
			opacity: 0.65
			transition: opacity 0.6s cubic-bezier(0.5, 1, 0.89, 1), height 0.6s cubic-bezier(0.25, 1, 0.5, 1)
		img
			display: block
			width: 100%
			height: 100%
			object-fit: cover
			transform: scale(1.01)
			transition: transform 0.6s cubic-bezier(0.5, 1, 0.89, 1)
		+media-breakpoint-down(xl)
			height: 360px
		+media-breakpoint-down(xs)
			height: 260px



// MAIN SITE FOOTER
.cta
	margin-bottom: 80px
	+media-breakpoint-down(lg)
		.section-descr
			max-width: 100%
			margin-top: 0
		.cta__form
			margin-top: 20px
	+media-breakpoint-down(md)
		.section-descr
			margin-top: 20px

.footer
	position: relative
	padding: 80px 0
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	+media-breakpoint-down(md)
		.col-contacts
			margin-top: 40px
	+media-breakpoint-down(sm)
		.col-links
			margin-top: 40px
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgba(#000, .9)
	&__logo
		display: block
		max-width: 100%
		height: 20px
		margin-bottom: 20px
	&__descr
		max-width: 425px
		margin-bottom: 20px
		color: #999
		font-size: 14px
		+media-breakpoint-down(lg)
			max-width: 325px
		+media-breakpoint-down(sm)
			max-width: 100%
	&__social
		display: flex
		a
			position: relative
			color: $white
			&:not(:first-child)
				margin-left: 20px
			&:after
				content: ''
				position: absolute
				top: 100%
				left: 0
				width: 100%
				height: 1px
				background: $white
				opacity: 0
				transform: scaleX(0)
				transition: .3s ease
			&:hover
				&:after
					opacity: 1
					transform: scaleX(1)
	&__title
		margin-bottom: 12px
		color: $white
		font-size: 20px
		font-weight: 700
		line-height: 1.25
		text-transform: uppercase
	&__menu
		li
			&:not(:first-child)
				margin-top: 6px
			a
				position: relative
				color: $white
				font-size: 14px
				&:after
					content: ''
					position: absolute
					top: 100%
					left: 0
					width: 100%
					height: 1px
					margin-top: 2px
					background: $white
					opacity: 0
					transform: scaleX(0)
					transition: .3s ease
				&:hover
					&:after
						opacity: 1
						transform: scaleX(1)
	&__contacts
		li
			color: #999
			font-size: 14px
			font-weight: 300
			b, strong
				color: $white
				font-weight: 400
			&:not(:first-child)
				margin-top: 10px
			a
				position: relative
				color: #999
				&:after
					content: ''
					position: absolute
					top: 100%
					left: 0
					width: 100%
					height: 1px
					margin-top: 2px
					background: #ccc
					opacity: 0
					transform: scaleX(0)
					transition: .3s ease
				&:hover
					color: #ccc
					&:after
						opacity: 1
						transform: scaleX(1)
			.phone
				margin-top: 3px

@media (orientation:landscape) and (max-height: 450px)
	.m-menu
		&__close
			top: 16px
			left: auto
			right: 30px
		&__wrap
			padding: 26px 30px 40px
		&__languages
			margin-bottom: 30px
		&__nav
			.nav
				flex-direction: row
				flex-wrap: wrap
				li
					flex-basis: 50%
					margin-top: 6px
					padding-right: 10px
					&:first-child
						margin-top: 16px
					a
						font-size: 18px
		&__footer
			padding-top: 30px
			.copy
				margin-top: 20px